# Load most important libraries and Dataset

In [1]:
# Nesessary libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load Data into data frame 
# Data Source: https://www.kaggle.com/datasets/arashnic/book-recommendation-dataset
books = pd.read_csv('Books.csv')
ratings = pd.read_csv('Ratings.csv')
users = pd.read_csv('Users.csv')

C:\Users\manin\AppData\Local\Temp\ipykernel_34088\2589842440.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('Books.csv')

In [3]:
books.head(6) # display book data

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
5,0399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...,http://images.amazon.com/images/P/0399135782.0...

In [4]:
ratings.head(6) # display rating data

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6
5   276733  2080674722            0

In [5]:
users.head(6) # display book data

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN
5        6       santa monica, california, usa  61.0

# Data analysis

In [6]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Book-Title           271360 non-null  object
 2   Book-Author          271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
 5   Image-URL-S          271360 non-null  object
 6   Image-URL-M          271360 non-null  object
 7   Image-URL-L          271357 non-null  object
dtypes: object(8)
memory usage: 16.6+ MB

In [7]:
books.describe()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
count,271360,271360,271359,271360,271358,271360,271360,271357
unique,271360,242135,102023,202,16807,271044,271044,271041
top,0195153448,Selected Poems,Agatha Christie,2002,Harlequin,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/185326119X.0...,http://images.amazon.com/images/P/225307649X.0...
freq,1,27,632,13903,7535,2,2,2

In [8]:
ratings.describe()

            User-ID   Book-Rating
count  1.149780e+06  1.149780e+06
mean   1.403864e+05  2.866950e+00
std    8.056228e+04  3.854184e+00
min    2.000000e+00  0.000000e+00
25%    7.034500e+04  0.000000e+00
50%    1.410100e+05  0.000000e+00
75%    2.110280e+05  7.000000e+00
max    2.788540e+05  1.000000e+01

In [9]:
# Check how many NaN values are in each column 
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [10]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [11]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [12]:
# remove NaN values 
books = books.dropna()

In [13]:
# Check how many NaN values are in each column 
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            0
dtype: int64

In [14]:
# Check if there is any Duplicate value in data 
print("Duplicate value in books: ",books.duplicated().sum())
print("Duplicate value in ratings: ",ratings.duplicated().sum())
print("Duplicate value in users: ",users.duplicated().sum())

Duplicate value in books:  0
Duplicate value in ratings:  0
Duplicate value in users:  0

In [15]:
# Adjust index of data frame
books = books.reset_index(drop = True)
books.tail() # print bottom rows

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
271349,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271350,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271351,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271352,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271353,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

# Popularity Based Filtering

In [16]:
ratings_name = ratings.merge(books ,on='ISBN') # merge ratings and books data set 
ratings_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1031124,276688,0517145553,0,Mostly Harmless,Douglas Adams,1995,Random House Value Pub,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...,http://images.amazon.com/images/P/0517145553.0...
1031125,276688,1575660792,7,Gray Matter,Shirley Kennett,1996,Kensington Publishing Corporation,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...,http://images.amazon.com/images/P/1575660792.0...
1031126,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...,Debbie Dadey,1997,Apple,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...,http://images.amazon.com/images/P/0590907301.0...
1031127,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries),Judith Freeman,1997,Vintage Books USA,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...,http://images.amazon.com/images/P/0679752714.0...
1031128,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...,Paul Sloane,1997,Sterling Publishing,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...,http://images.amazon.com/images/P/0806917695.0...

In [17]:
# to remove multiple rating 
no_of_rating = ratings_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
no_of_rating.rename(columns={'Book-Rating':'num_of_rating'},inplace=True)
no_of_rating

                                               Book-Title  num_of_rating
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
241061                                      Ã?Â?lpiraten.              2
241062                     Ã?Â?rger mit Produkt X. Roman.              4
241063                                Ã?Â?sterlich leben.              1
241064                              Ã?Â?stlich der Berge.              3
241065                                  Ã?Â?thique en toc              2

[241066 rows x 2 columns]

In [18]:
# Average rating of each book 
average_rating = ratings_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
average_rating.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
average_rating

C:\Users\manin\AppData\Local\Temp\ipykernel_34088\1593630878.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  average_rating = ratings_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241061                                      Ã?Â?lpiraten.    0.000000
241062                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241063                                Ã?Â?sterlich leben.    7.000000
241064                              Ã?Â?stlich der Berge.    2.666667
241065                                  Ã?Â?thique en toc    4.000000

[241066 rows x 2 columns]

In [19]:
# merge average rating and no_of_rating df  
popular_books = no_of_rating.merge(average_rating ,on='Book-Title')
popular_books

,Book-Title,num_of_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250000
1,Always Have Popsicles,1,0.000000
2,Apple Magic (The Collector's series),1,0.000000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",1,8.000000
4,Beyond IBM: Leadership Marketing and Finance ...,1,0.000000
...,...,...,...
241061,Ã?Â?lpiraten.,2,0.000000
241062,Ã?Â?rger mit Produkt X. Roman.,4,5.250000
241063,Ã?Â?sterlich leben.,1,7.000000
241064,Ã?Â?stlich der Berge.,3,2.666667
241065,Ã?Â?thique en toc,2,4.000000

In [20]:
# show all the books who has number of rating more then 500 
# here we get books who most users rated however the average rating is bad 
popular_books[popular_books['num_of_rating']>=500].sort_values('num_of_rating',ascending=False)

,Book-Title,num_of_rating,avg_rating
234946,Wild Animus,2502,1.019584
196322,The Lovely Bones: A Novel,1295,4.468726
183569,The Da Vinci Code,898,4.642539
5303,A Painted House,838,3.231504
199233,The Nanny Diaries: A Novel,828,3.530193
27922,Bridget Jones's Diary,815,3.527607
206498,The Secret Life of Bees,774,4.447028
52981,Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,3.437838
204383,The Red Tent (Bestselling Backlist),723,4.334716
14392,Angels &amp; Demons,670,3.708955
107960,Life of Pi,664,4.088855
162648,Snow Falling on Cedars,662,3.252266
209294,The Summons,655,3.432061
200249,The Notebook,650,3.560000
210060,The Testament,617,3.179903
85955,House of Sand and Fog,588,3.030612
233365,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
201688,The Pelican Brief,581,2.611015
80443,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
189262,The Girls' Guide to Hunting and Fishing,573,3.139616
169198,Summer Sisters,573,3.361257
187698,The Firm,569,3.080844
202240,The Pilot's Wife : A Novel,568,3.593310
179271,The Brethren,556,2.850719
80412,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
193424,The Joy Luck Club,555,3.055856
219345,Timeline,552,3.750000
6980,A Time to Kill,549,3.122040
209113,The Street Lawyer,545,2.851376
74748,Girl with a Pearl Earring,526,4.218631
205519,The Runaway Jury,520,2.880769
219737,To Kill a Mockingbird,510,4.700000
180734,The Chamber,509,3.015717
818,1st to Die: A Novel,509,3.575639
93208,Interview with the Vampire,508,3.551181
191820,The Horse Whisperer,507,2.686391
203996,The Rainmaker,501,2.922156

## Filter data by popularity

In [21]:
#filter data based on average rating & most number of ratings to get the most piopular books
popular_books_df=popular_books[popular_books['num_of_rating']>=500].sort_values('avg_rating',ascending=False)
popular_books_df

,Book-Title,num_of_rating,avg_rating
80412,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
80443,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
219737,To Kill a Mockingbird,510,4.700000
183569,The Da Vinci Code,898,4.642539
196322,The Lovely Bones: A Novel,1295,4.468726
206498,The Secret Life of Bees,774,4.447028
204383,The Red Tent (Bestselling Backlist),723,4.334716
74748,Girl with a Pearl Earring,526,4.218631
233365,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
107960,Life of Pi,664,4.088855
219345,Timeline,552,3.750000
14392,Angels &amp; Demons,670,3.708955
202240,The Pilot's Wife : A Novel,568,3.593310
818,1st to Die: A Novel,509,3.575639
200249,The Notebook,650,3.560000
93208,Interview with the Vampire,508,3.551181
199233,The Nanny Diaries: A Novel,828,3.530193
27922,Bridget Jones's Diary,815,3.527607
52981,Divine Secrets of the Ya-Ya Sisterhood: A Novel,740,3.437838
209294,The Summons,655,3.432061
169198,Summer Sisters,573,3.361257
162648,Snow Falling on Cedars,662,3.252266
5303,A Painted House,838,3.231504
210060,The Testament,617,3.179903
189262,The Girls' Guide to Hunting and Fishing,573,3.139616
6980,A Time to Kill,549,3.122040
187698,The Firm,569,3.080844
193424,The Joy Luck Club,555,3.055856
85955,House of Sand and Fog,588,3.030612
180734,The Chamber,509,3.015717
203996,The Rainmaker,501,2.922156
205519,The Runaway Jury,520,2.880769
209113,The Street Lawyer,545,2.851376
179271,The Brethren,556,2.850719
191820,The Horse Whisperer,507,2.686391
201688,The Pelican Brief,581,2.611015
234946,Wild Animus,2502,1.019584

In [22]:
# show popularity based filtering by Book-title, book-author and year of publication 
filtered_books = popular_books_df.merge(books ,on='Book-Title').drop_duplicates('Book-Title')[['ISBN','Book-Title','Book-Author','Year-Of-Publication', 'Image-URL-L']]
print(filtered_books.shape)
filtered_books.reset_index()

(37, 5)

,index,ISBN,Book-Title,Book-Author,Year-Of-Publication,Image-URL-L
0,0,0439064872,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,http://images.amazon.com/images/P/0439064872.0...
1,3,059035342X,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,1999,http://images.amazon.com/images/P/059035342X.0...
2,5,0446310786,To Kill a Mockingbird,Harper Lee,1988,http://images.amazon.com/images/P/0446310786.0...
3,13,0385504209,The Da Vinci Code,Dan Brown,2003,http://images.amazon.com/images/P/0385504209.0...
4,19,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,http://images.amazon.com/images/P/0316666343.0...
5,20,0142001740,The Secret Life of Bees,Sue Monk Kidd,2003,http://images.amazon.com/images/P/0142001740.0...
6,26,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,http://images.amazon.com/images/P/0312195516.0...
7,27,0452282152,Girl with a Pearl Earring,Tracy Chevalier,2001,http://images.amazon.com/images/P/0452282152.0...
8,28,0446672211,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,1998,http://images.amazon.com/images/P/0446672211.0...
9,29,0151008116,Life of Pi,Yann Martel,2002,http://images.amazon.com/images/P/0151008116.0...
10,33,0345417623,Timeline,MICHAEL CRICHTON,2000,http://images.amazon.com/images/P/0345417623.0...
11,40,0671027360,Angels &amp; Demons,Dan Brown,2001,http://images.amazon.com/images/P/0671027360.0...
12,45,0316601950,The Pilot's Wife : A Novel,Anita Shreve,1999,http://images.amazon.com/images/P/0316601950.0...
13,46,0446610038,1st to Die: A Novel,James Patterson,2002,http://images.amazon.com/images/P/0446610038.0...
14,48,0446605239,The Notebook,Nicholas Sparks,1998,http://images.amazon.com/images/P/0446605239.0...
15,53,0345337662,Interview with the Vampire,Anne Rice,1993,http://images.amazon.com/images/P/0345337662.0...
16,55,0312278586,The Nanny Diaries: A Novel,Emma McLaughlin,2002,http://images.amazon.com/images/P/0312278586.0...
17,57,0330332775,Bridget Jones's Diary,Helen Fielding,1997,http://images.amazon.com/images/P/0330332775.0...
18,63,0060928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,http://images.amazon.com/images/P/0060928336.0...
19,66,0440241073,The Summons,John Grisham,2002,http://images.amazon.com/images/P/0440241073.0...
20,70,0385324057,Summer Sisters,Judy Blume,1998,http://images.amazon.com/images/P/0385324057.0...
21,74,0151001006,Snow Falling on Cedars,David Guterson,1994,http://images.amazon.com/images/P/0151001006.0...
22,81,044023722X,A Painted House,John Grisham,2001,http://images.amazon.com/images/P/044023722X.0...
23,86,0440234743,The Testament,John Grisham,1999,http://images.amazon.com/images/P/0440234743.0...
24,93,0140293248,The Girls' Guide to Hunting and Fishing,Melissa Bank,2000,http://images.amazon.com/images/P/0140293248.0...
25,97,0440211727,A Time to Kill,JOHN GRISHAM,1992,http://images.amazon.com/images/P/0440211727.0...
26,104,0385416342,The Firm,John Grisham,1991,http://images.amazon.com/images/P/0385416342.0...
27,111,0804106304,The Joy Luck Club,Amy Tan,1994,http://images.amazon.com/images/P/0804106304.0...
28,114,0375727345,House of Sand and Fog,Andre Dubus III,2000,http://images.amazon.com/images/P/0375727345.0...
29,116,0385424728,The Chamber,John Grisham,1994,http://images.amazon.com/images/P/0385424728.0...
30,121,044022165X,The Rainmaker,JOHN GRISHAM,1996,http://images.amazon.com/images/P/044022165X.0...
31,128,0440221471,The Runaway Jury,JOHN GRISHAM,1997,http://images.amazon.com/images/P/0440221471.0...
32,134,0440225701,The Street Lawyer,JOHN GRISHAM,1999,http://images.amazon.com/images/P/0440225701.0...
33,139,0385497466,The Brethren,JOHN GRISHAM,2000,http://images.amazon.com/images/P/0385497466.0...
34,144,0440222656,The Horse Whisperer,Nicholas Evans,1996,http://images.amazon.com/images/P/0440222656.0...
35,148,0440214041,The Pelican Brief,John Grisham,1993,http://images.amazon.com/images/P/0440214041.0...
36,151,0971880107,Wild Animus,Rich Shapero,2004,http://images.amazon.com/images/P/0971880107.0...

In [23]:
# save data
# filtered_books.to_excel(r'C:\Users\manin\Coding+\Individual_project\6001CEM-Individual-Project_singhm50\AI_Model\Book_recommender_system\ml_saved_data\popular_books.xlsx', index=False)

# Colloborative Filtering

In [24]:
ratings_name.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [25]:
# filter users who gave more reviews to books 
a = ratings_name.groupby('User-ID').count()['Book-Title']>300 # 
geninue_users = a[a].index
geniune_user = ratings_name[ratings_name['User-ID'].isin(geninue_users)]
geniune_user

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030876,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030877,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030878,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030879,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030880,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [26]:
# filter books who got more then 50 ratings 
b = geniune_user.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = b[b].index
final_df = geniune_user[geniune_user['Book-Title'].isin(famous_books)]
final_df

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1025254,263877,0613335864,0,False Memory,Dean Koontz,2001,Sagebrush Bound,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...
1025314,264082,0821750666,0,Paradise,Phoebe Conn,1995,Zebra Books,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...
1026717,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1028770,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1030861,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [27]:
final_df.drop_duplicates()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1025254,263877,0613335864,0,False Memory,Dean Koontz,2001,Sagebrush Bound,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...
1025314,264082,0821750666,0,Paradise,Phoebe Conn,1995,Zebra Books,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...
1026717,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1028770,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1030861,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [50]:
# prepare data to save to external file
newdf = final_df.drop(["User-ID","Book-Rating"], axis='columns')
newdf = newdf.drop_duplicates()
newdf.count()

ISBN                   1481
Book-Title             1481
Book-Author            1481
Year-Of-Publication    1481
Publisher              1481
Image-URL-S            1481
Image-URL-M            1481
Image-URL-L            1481
dtype: int64

In [52]:
# save data 
#newdf.to_excel(r'C:\Users\manin\Coding+\Individual_project\6001CEM-Individual-Project_singhm50\AI_Model\Book_recommender_system\ml_saved_data\Colloborative_Filtering_book_data.xlsx', index=False)

In [29]:
# reference: https://www.kaggle.com/code/jagdishchavan/book-recommender-system
pivot_table = final_df.pivot_table(index='Book-Title',columns='User-ID')
pivot_table.fillna(0,inplace=True)
pivot_table.head(500)

C:\Users\manin\AppData\Local\Temp\ipykernel_34088\4158275490.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pivot_table = final_df.pivot_table(index='Book-Title',columns='User-ID')

                                                   Book-Rating                \
User-ID                                                 2276   3363   4385
Book-Title
1st to Die: A Novel                                        0.0    0.0    0.0
2nd Chance                                                10.0    0.0    0.0
4 Blondes                                                  0.0    0.0    0.0
A Bend in the Road                                         0.0    0.0    0.0
A Case of Need                                             0.0    0.0    0.0
...                                                        ...    ...    ...
Without Remorse                                            0.0    0.0    0.0
Wuthering Heights                                          0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...         0.0    0.0    0.0
Zoya                                                       0.0    0.0    0.0
\O\" Is for Outlaw"                                        0.0    0.0    0.0

                                                                         \
User-ID                                            6251   6543   6575
Book-Title
1st to Die: A Novel                                   0.0    9.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    1.0
A Case of Need                                        0.0    0.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   0.0    0.0    0.0

                                                                         \
User-ID                                            7158   7346   8681
Book-Title
1st to Die: A Novel                                   0.0    0.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    0.0
A Case of Need                                        0.0    0.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   0.0    8.0    0.0

                                                           ...                \
User-ID                                            8936    ... 270713 271284
Book-Title                                                 ...
1st to Die: A Novel                                   0.0  ...    0.0    0.0
2nd Chance                                            0.0  ...    0.0    0.0
4 Blondes                                             0.0  ...    0.0    0.0
A Bend in the Road                                    0.0  ...    0.0    0.0
A Case of Need                                        0.0  ...    0.0    0.0
...                                                   ...  ...    ...    ...
Without Remorse                                       0.0  ...    0.0    0.0
Wuthering Heights                                     0.0  ...    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0  ...    0.0    0.0
Zoya                                                  0.0  ...    0.0    0.0
\O\" Is for Outlaw"                                   0.0  ...    0.0    0.0

                                                                         \
User-ID                                            273979 274004 274061
Book-Title
1st to Die: A Novel                                   0.0    0.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    0.0
A Case of Need                                        0.0    0.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   0.0    0.0    0.0

                                                                         \
User-ID                                            274301 274308 275970
Book-Title
1st to Die: A Novel                                   0.0    0.0    0.0
2nd Chance                                            0.0    0.0    0.0
4 Blondes                                             0.0    0.0    0.0
A Bend in the Road                                    0.0    0.0    0.0
A Case of Need                                        0.0    7.0    0.0
...                                                   ...    ...    ...
Without Remorse                                       0.0    0.0    0.0
Wuthering Heights                                     0.0    0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0    0.0
Zoya                                                  0.0    0.0    0.0
\O\" Is for Outlaw"                                   8.0    0.0    0.0


User-ID                                            277427 278418
Book-Title
1st to Die: A Novel                                   0.0    0.0
2nd Chance                                            0.0    0.0
4 Blondes                                             0.0    0.0
A Bend in the Road                                    0.0    0.0
A Case of Need                                        0.0    0.0
...                                                   ...    ...
Without Remorse                                       0.0    0.0
Wuthering Heights                                     0.0    0.0
Zen and the Art of Motorcycle Maintenance: An I...    0.0    0.0
Zoya                                                  0.0    0.0
\O\" Is for Outlaw"                                   0.0    0.0

[477 rows x 497 columns]

In [32]:
from sklearn.metrics.pairwise import cosine_similarity

In [34]:
# caluclate eucledian distance for given data
cos_simscore = cosine_similarity(pivot_table)
print(cos_simscore.shape)
cos_simscore

(477, 477)

array([[1.        , 0.268097  , 0.        , ..., 0.09253734, 0.20820078,
        0.1761926 ],
       [0.268097  , 1.        , 0.        , ..., 0.0592571 , 0.06411481,
        0.13948894],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.09253734, 0.0592571 , 0.        , ..., 1.        , 0.08532999,
        0.02351353],
       [0.20820078, 0.06411481, 0.        , ..., 0.08532999, 1.        ,
        0.12692859],
       [0.1761926 , 0.13948894, 0.        , ..., 0.02351353, 0.12692859,
        1.        ]])

In [53]:
# function to recomend books 
def recommend(books_name):
    index = np.where(pivot_table.index==books_name)[0][0]    
    similar_books = sorted(list(enumerate(cos_simscore[index])),key=lambda x:x[1],reverse=True)[1:6]
    
    for i in similar_books:
        print(pivot_table.index[i[0]])

In [42]:
recommend('The Fellowship of the Ring (The Lord of the Rings, Part 1)')

The Two Towers (The Lord of the Rings, Part 2)
Harry Potter and the Prisoner of Azkaban (Book 3)
The Return of the King (The Lord of the Rings, Part 3)
Harry Potter and the Chamber of Secrets (Book 2)
Harry Potter and the Goblet of Fire (Book 4)

In [43]:
def Book_info(title): # access book info
    book = final_df[final_df["Book-Title"] == str(title)]
    book = book.reset_index() 
    return book.loc[0]

In [44]:
Book_info("The Da Vinci Code")

index                                                               7932
User-ID                                                           277427
ISBN                                                          0385504209
Book-Rating                                                            8
Book-Title                                             The Da Vinci Code
Book-Author                                                    Dan Brown
Year-Of-Publication                                                 2003
Publisher                                                      Doubleday
Image-URL-S            http://images.amazon.com/images/P/0385504209.0...
Image-URL-M            http://images.amazon.com/images/P/0385504209.0...
Image-URL-L            http://images.amazon.com/images/P/0385504209.0...
Name: 0, dtype: object